.contact {
  background-color: #626569;
  text-align: center;
  margin-top: 2%;
}
.contact h2 {
  color: #f0f4f8;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  text-align: center;
  margin-left: 25%;
  border: solid black;
  border-radius: 0.45rem;
  padding: 0.25%;
  background-color: #f0f4f8;
  opacity: 0.9; /* Slightly transparent */
}

.form label {
  background-color: #626569;
  color: #f0f4f8;
  margin-top: 2%;
}

.form input {
  background-color: #f0f4f8;
  margin-bottom: 2%;
  border: gray solid;
}

.form textarea {
  background-color: #f0f4f8;
  margin-bottom: 2%;
  border: gray solid;
}

.form button {
  background-color: #626569;
  color: #f0f4f8;
  width: 50%;
  height: 25%;
  margin-left: 25%;
  margin-bottom: 2%;
  position: unset;
}
