.home {
  text-align: center;
  padding: 2rem;
  background-color: #626569;
  opacity: 0.9; /* Slightly transparent */
  margin-top: 2%;
  height: 11rem;
}
.home h1 {
  color: #f0f4f8;
  font-size: 3rem;
}

.home p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #f0f4f8;
}
