* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 50%;
  height: 100%;
  background-color: coral;
  color: white;
  display: sticky;
}

body {
  /* background-image: url("../src/assets/coder-coding.png"); */
  background-color: #f0f4f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Makes the background stay in place on scroll */
  margin: 0; /* Remove default margins to prevent layout issues */
  height: 100%; /* Ensure full height coverage */
}
